automatizaciones/recordatorio-24hs.json
{
  "name": "Pádel Pablo · Recordatorio 24hs antes del turno",
  "nodes": [
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Schedule - Cada hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [{"field": "cronExpression", "expression": "0 * * * *"}]
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Buscar turnos de mañana",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 300],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.API_BASE_URL }}/reservas",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "estado", "value": "confirmada"},
            {"name": "desde",  "value": "={{ $now.plus({hours: 23}).toFormat('yyyy-MM-dd') }}"},
            {"name": "hasta",  "value": "={{ $now.plus({hours: 25}).toFormat('yyyy-MM-dd') }}"}
          ]
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "¿Hay reservas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 300],
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true},
          "conditions": [
            {
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {"type": "number", "operation": "gt"}
            }
          ]
        }
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Split por reserva",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1000, 200],
      "parameters": {"batchSize": 1, "options": {}}
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Enviar recordatorio Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 200],
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, text: '⏰ <b>Recordatorio de turno mañana</b>\n\nCliente: ' + $json.cliente_nombre + '\nTeléfono: ' + $json.cliente_telefono + '\nCancha: ' + $json.cancha_id + '\nFecha: ' + $json.fecha + '\nDuración: ' + $json.duracion_minutos + ' min\nCódigo: #' + $json.id, parse_mode: 'HTML' }) }}"
      }
    },
    {
      "id": "b2c3d4e5-0002-0002-0002-000000000006",
      "name": "Sin turnos - No hacer nada",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1000, 400],
      "parameters": {}
    }
  ],
  "connections": {
    "Schedule - Cada hora": {
      "main": [[{"node": "Buscar turnos de mañana", "type": "main", "index": 0}]]
    },
    "Buscar turnos de mañana": {
      "main": [[{"node": "¿Hay reservas?", "type": "main", "index": 0}]]
    },
    "¿Hay reservas?": {
      "main": [
        [{"node": "Split por reserva",         "type": "main", "index": 0}],
        [{"node": "Sin turnos - No hacer nada", "type": "main", "index": 0}]
      ]
    },
    "Split por reserva": {
      "main": [[{"node": "Enviar recordatorio Telegram", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"},
  "_meta": {
    "descripcion": "Corre cada hora. Busca reservas en las proximas 23-25 horas y avisa a Pablo por Telegram.",
    "variables_requeridas": [
      "API_BASE_URL",
      "TELEGRAM_BOT_TOKEN",
      "TELEGRAM_CHAT_ID"
    ],
    "nota": "Envia un mensaje a Pablo por cada turno que sea mañana. El cliente_telefono se incluye en el mensaje para que Pablo pueda contactar si necesita."
  }
}
